body {
	background: url('background.jpg');
    background-size: cover;
    text-align: center;
}

.typeError {
    color:red;
    font-weight: bolder;
}

.typeOK {
    color:green;
    font-weight: bolder;
}

.center {
    display: block;
    margin: 0 auto;
  }