body {
	background: url('background.jpg');
    background-size: cover;
    text-align: center;
}

.typeError {
    color:red;
    border: 2px solid red;
    visibility: visible;
}

.typeVisible {
    color:red;
    font-weight: bolder;
    visibility: visible;
}

.typeHidden {
    visibility: hidden;
}

.center {
    display: block;
    margin: 0 auto;
}