body {
	background: url('background.jpg');
    background-size: cover;
    text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.imgnone {
    width: "100px";
    height: "100px";
    display: block;
    display: none;
    margin: 0 auto;
    border-image: none;
}

.smile {
    width: "100px";
    height: "100px";
    display: block;
    margin: 0 auto;
    border-image: 'smile.jpg'
}

.sad {
    width: "100px";
    height: "100px";
    display: block;
    margin: 0 auto;
    border-image: 'sad.jpg'
}

.typeError {
    color:red;
    border: 2px solid red;
}

.typeOK {
    color:green;
    font-weight: bolder;
}

.typeWrong {
    color:red;
    font-weight: bolder;
}